.type-test-container {
  width: 800px;
  font-size: 2rem;
  padding: 0.1rem;
  letter-spacing: 0.2ch;
}

.cursor::before {
  display: inline-block;
  position: absolute;
  transform: translate(-0.1ch, 0.1ch);
  width: 2px;
  height: 1.8ch;
  background-color: black;
  content: '';
  opacity: 1;
  animation: fade 1000ms;
  animation-iteration-count: infinite;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0.5
  }

  50% {
    opacity: 1
  }
}