.terminal-section {
  display: grid;
  grid-template-rows: 3.25rem 1fr;
  background-color: var(--bg);
  border-radius: var(--br);
}

.terminal-container {
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  overflow-y: auto;
  scrollbar-width: 0px;
  /* Break by letter and not by word 
  (closer to what a real terminal does),
  also always show the cursor white-space when wrapping */
  word-break: break-all;
  white-space: pre-wrap;
  transition: all 120ms ease-in-out;
}

.terminal-container:focus {
  outline: none;
  filter: none;
}

.terminal-container::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (min-width: 820px) {
  .terminal-section {
    grid-row: 2;
  }

  .terminal-container {
    max-height: calc(97vh - 3.25rem);
    filter: brightness(60%)
  }
}

@media only screen and (min-width: 1300px) {
  .terminal-container {
    max-height: calc(90vh - 3.25rem);
  }
}