:root {
  --bg: #2E2E30;
  --header-bg: #404040;
  --tb-red: #FD5E58;
  --tb-yellow: #FDBB2E;
  --tb-green: #61BA46;
  --btn-bg: #5D5D5D;
  --btn-txt: #D7D7D7;
  --divider: #3E3E40;
  --input: #2BBC65;
  --help-svg: #A7A0A0;
  --br: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/img/typingbg.jpg');
}

main {
  display: grid;
  gap: 2rem;
  grid-template-columns: 20.625rem 1fr;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Ycentered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.bordered {
  border-radius: var(--br);
  border: 1px solid black;
}