.commands {
  line-height: 3ch;
}

/* The gradient is to multicolor the single element */
/* .type-test-container::before {
  content: 'rez@main:~$ ';
  background: linear-gradient(to right,
      var(--prompt) 70%,
      white 69%,
      blue 80%,
      white 86%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

.cursor {
  background-color: white;
  animation: fade 1500ms;
  animation-iteration-count: infinite;
}

.untyped {
  color: rgb(124, 124, 124);
}

.typed {
  color: white;
}

.mistake {
  color: var(--tb-red);
}

.faded {
  filter: brightness(80%)
}

@keyframes fade {

  0%,
  100% {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  50% {
    color: black;
    background-color: white;
  }
}